* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}
main.table {
  width: 70vw;
  height: 90vh;
  background-color: white;
  backdrop-filter: blur(7px);
}
.table_header {
  width: 100%;
  align-self: center;
  background-color: blue;
  height: 4%;
}
.table_body {
  width: 100%;
  max-height: 89%;
  margin: 8rem, auto;
}
table {
  width: 100%;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #dacafffe;
}
tbody tr:nth-child(even) {
  background-color: rgb(245, 242, 242);
}
tbody tr:hover {
  background-color: rgb(248, 251, 251);
}
