:root {
  --color-primary: #156504;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #717c87;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
  --color-text-wheat: #f5deb3;
}
.landing_page {
  position: relative;
}

.landing_nav {
  margin-left: 0.2em;
  border-radius: 0.5em;
  display: flex;
  height: 6rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-background-900);
}
.landing_about {
  font-size: 25px;
  color: var(--color-text-dark);
  text-align: center;
}

.landing_nav img {
  height: 100%;
}

.landing_nav h5 {
  color: var(--color-text-dark);
  font-size: 30px;
}

.landing_buttons {
  display: flex;
  gap: 100px;
}

.landing_button {
  height: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 10em;
  cursor: pointer;
  color: var(--color-text-dark);
  font-size: 10px;
}
.background-container {
  display: flex;
  gap: 8px;
}
.background-container img {
  width: 50%;
  height: 60vh;
  object-fit: cover;
}
.background-container p {
  color: var(--color-text-dark);
  font-size: 30px;
  font-style: italic;
}

.register_form {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.register_form p {
  font-size: 20px;
  color: var(--color-text-dark);
  font-style: italic;
}
.register_form input {
  height: 25px;
  border-radius: 8px;
  border-color: var(--color-text-dark);
  width: 40em;
}
.registerform_button {
  height: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 40em;
  cursor: pointer;
}
.register_form select {
  height: 25px;
  border-radius: 8px;
  border-color: var(--color-text-dark);
  width: 40em;
}
.register_display {
  display: flex;
  justify-content: center;
  gap: 15em;
}
.register_display .paragraph {
  width: 50rem;
  align-self: center;
}
.paragraph > h1 {
  font-style: italic;
  color: var(--color-text-dark);
}
.paragraph p {
  font-size: 15px;
  color: var(--color-text-dark);
}
.profile_page_user {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin-top: 17vh;
  margin-left: 25vw;
}
.profile_page {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-top: 17vh;
  margin-left: 9vw;
}
.profile_page_aside {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.profile_page_aside h3 {
  font-size: 20px;
  color: var(--color-text);
  margin-bottom: 2vh;
  margin-left: 3.5vw;
}
.profile_page_edit_button {
  margin-top: 2vh;
  height: 3.5vh;
  border-radius: 4px;
  margin-left: 1vw;
  width: 10vw;
  background-color: var(--color-background-500);
  color: white;
  background-color: --color-text;
  cursor: pointer;
}
.prof_nav {
  margin-top: -17vh;
}
.prof_pic_div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.prof_pic_div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.right_side_profile {
  margin-top: 4vh;
}
.right_side_profile h1 {
  color: white;
  font-style: italic;
}
.workshop_owner_profile {
  margin-top: 4vh;
}
.workshop_owner_profile h1 {
  color: white;
  font-style: italic;
}
.success_message {
  color: green;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}
.update_profile_details {
  display: flex;
  flex-direction: column;
}
.update_profile_details label {
  color: var(--color-text-wheat);
  font-style: italic;
  font-size: 14px;
  margin-bottom: 0.5vh;
}
.update_profile_details input {
  width: 20vw;
  height: 3vh;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 10px;
  margin-bottom: 2vh;
}
.update_profile_details textarea {
  border-radius: 4px;
  outline: none;
  border: none;
  margin-bottom: 2vh;
  font-size: 10px;
}
.update_profile_details button {
  height: 3vh;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.personal_posts {
  color: var(--color-text-wheat);
  text-align: center;
}
