:root {
  --color-primary: #156504;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #717c87;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-background-200: #00f4f4;
  --color-background-300: #e42426;
  --color-background-400: #118c6b;
  --color-background-600: #b8cc3e;
  --color-background-700: #486eae;
  --color-text-wheat: #f5deb3;
}
body {
  background-color: var(--color-background-100);
}
.error {
  border: 1px solid red;
}

.profile_photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: -1px;
}
.added_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar_hamburger {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: white;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

.search_form input {
  height: 25px;
  border-radius: 8px;
  border-color: var(--color-text-dark);
  width: 55em;
  margin-right: 10px;
}
.profile_name {
  margin-bottom: -10px;
}
.search_form button {
  height: 25px;
  background-color: #39424b;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 10em;
}

.map-wrap {
  position: relative;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
}
.product_img {
  height: 200px;
  width: 280px;
}
.products_card {
  background-color: white;
  border-radius: 5px;
}
.products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}
@media (min-width: 400px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 640px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 780px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 940px) {
  .products {
    grid-template-columns: repeat(5, 1fr);
  }
}

.account-modal {
  position: fixed;
  right: 3em;
  width: 15em;
  z-index: 2;
  margin-top: -3vh;
}

.account-modal-content {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}

.account-modal-content h4 {
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.container_dashboard {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.dashboard_container {
  display: flex;
  flex-direction: row;
  height: 88vh;
  gap: 2em;
}
.dashboard_aside_container {
  position: fixed;
  margin-top: 10vh;
  height: 90vh;
  background-color: var(--color-background-900);
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}
.dashboard_aside_container h1 {
  color: var(--color-text-dark);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin-bottom: -10px;
}
.dashboard_main_container {
  margin-left: 21%;
  margin-top: 11vh;
  width: 78%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.down_dashboard_main_container {
  display: flex;
  gap: 2em;
}
.about_items h3 {
  color: var(--color-text-dark);
  font-size: 35px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  margin-bottom: -5px;
}
.items_properties {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items_properties h5 {
  color: var(--color-text-wheat);
  font-size: 15px;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 6px;
  margin-top: 6px;
}
.items_properties a {
  color: var(--color-text-wheat);
  text-decoration: none;
}
.about_orders h3 {
  color: var(--color-text-dark);
  font-size: 35px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  margin-bottom: -5px;
  margin-top: 0.5em;
}
.dashboard_div_container {
  font-size: 25px;
  color: var(--color-text-wheat);
  border-radius: 4px;
  text-align: center;
  width: 25%;
  height: 23vh;
  cursor: pointer;
}
.dashboard_amount_container {
  font-size: 25px;
  color: var(--color-text-wheat);
  text-align: center;
  width: 100%;
  height: 20vh;
  background-color: var(--color-background-700);
  border-radius: 6px;
}
.dashbaord_main_one {
  background-color: var(--color-background-200);
}
.dashbaord_main_two {
  background-color: var(--color-background-300);
}
.dashbaord_main_three {
  background-color: var(--color-background-400);
}
.dashbaord_main_four {
  background-color: var(--color-background-600);
}
.top_dashboard_main_container h1 {
  color: var(--color-text-dark);
  font-style: italic;
  font-size: 30px;
}
.fixed_nav {
  position: fixed;
  margin-bottom: 8vh;
  width: 99.7%;
}
.pending_container {
  margin-left: 23%;
  margin-top: 11vh;
  width: 73%;
}
.div_form_display {
  width: 30vw;
  margin-top: 11vh;
  margin-left: auto;
  margin-right: auto;
}
.new-product-form {
  width: 30vw;
  margin-top: 1vh;
}

.success-message {
  background-color: rgb(145, 218, 37);
  width: 100%;
  height: 5vh;
  color: white;
  font-style: italic;
  text-align: center;
}
.new_product_label {
  color: var(--color-text-wheat);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.form_type {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid var(--color-text-wheat);
  border-radius: 4px;
  font-size: 10px;
}

.add_item_button {
  height: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
  color: var(--color-text-dark);
  font-size: 10px;
}

button:hover {
  background-color: var(--color-text-wheat);
}
.pending_container_item {
  background-color: var(--color-background-900);
  display: flex;
  margin-bottom: 1vh;
}
.image_container_div {
  width: 33%;
}
.item_image {
  width: 100%;
  height: 38.5vh;
}
.item_description {
  background-color: var(--color-text-dark);
  width: 33%;
}
.item_description h1 {
  text-align: center;
  color: var(--color-text-wheat);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  margin-bottom: 5px;
}
.item_description h4 {
  margin-left: 0.4em;
  color: var(--color-text);
  font-size: 15px;
  margin-bottom: 1.5vh;
}
.capentryDetails {
  width: 34%;
  background-color: var(--color-text-dark);
}
.capentryDetails h1 {
  color: var(--color-text-wheat);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  margin-top: 5px;
}
.capentryDetails h4 {
  margin-left: 0.4em;
  color: var(--color-text);
  font-size: 15px;
  margin-bottom: 1.5vh;
}
.pending_approval_buttons {
  display: flex;
  justify-content: space-evenly;
}
.pending_approval_buttons button {
  height: 4vh;
  width: 7vw;
  color: var(--color-background-100);
  outline: none;
  border: none;
  border-radius: 3px;
}
.home_nav {
  margin-top: -12vh;
}

.job_listing {
  font-style: italic;
  color: var(--color-text-wheat);
  font-size: 20px;
  text-align: center;
}
.item_specific_container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  margin-top: 4vh;
}
.item_specific_heading h1 {
  color: var(--color-text-wheat);
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.item_specific_body {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  width: 95vw;
}
.item_specific_image {
  width: 50vw;
  height: 70vh;
  border-radius: 20px;
}
.item_specific_about {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.item_specific_about label {
  color: var(--color-text-wheat);
  font-size: 15;
  font-style: italic;
}
.item_specific_about input {
  font-size: 12px;
}
.item_specific_about h2 {
  color: var(--color-text-wheat);
  font-style: italic;
  font-size: 20px;
  font-family: sans-serif;
}
.input_item_specific {
  width: 100%;
  height: 4vh;
  border-radius: 4px;
  border: none;
  outline: none;
}
.button_item_specific {
  width: 100%;
  height: 4vh;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
.chat_button {
  height: 3.5vh;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 2vw;
  color: white;
  font-size: 10px;
  width: 7vw;
  background-color: var(--color-background-600);
}
.chat-window {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 95vh;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
  align-self: center;
  text-align: center;
}
.chat-window .chat-header p {
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}
.chat-window .chat-body {
  height: 85vh;
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}
.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}
#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.chat-footer {
  align-self: flex-end;
  display: flex;
  gap: 0.2vw;
  border: 1px solid #263238;
  border-top: none;
}
.chat-footer input {
  height: 4vh;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  border-radius: 5px;
  width: 55vw;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.send_button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;

  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

.send_button_img {
  width: 2vw;
}
